@import "./constant.scss";

.photographers
{
    display: flex;
    flex-wrap: wrap;

    gap: 40px;

    &__card
    {
        width: 30%;
        min-width: 250px;
        margin: auto;
        text-align: center;
    }
}



.card
{
    &__header
    {
        &__icon
        {
            width: 200px;
            height: 200px;

            border-radius: 100%;
            overflow: hidden;

            margin: 0 auto 20px auto;

            img
            {
                object-fit: cover;
                width: 100% !important;
                height: 100% !important; 
                margin: 0 !important;
            }
        }

        &__name
        {
            color: $secondary-color-darkest;
        }
    }

    &__content
    {
        &__location
        {
            font-size: 14px;
            color: $primary-color;
        }

        &__description
        {
            font-size: 12px;
        }

        &__price
        {
            font-size: 12px;
            color: $tertio-color;
        }
    }

    &__categories
    {
        margin-top: 10px;
    }

    &.show
    {
        animation-name: show_card;
        animation-duration: 0;
        animation-timing-function: ease-in;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    &.hidden
    {
        animation-name: hide_card;
        animation-duration: 0s;
        animation-timing-function: ease-in;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}

#photographer-page
{
    .photographers
    {
        background-color: $bg-light;
        padding: 50px;
        
        &__card
        {
            width: 100%;
        }

        @media (max-width:$breakpoint-light) 
        {
            background-color: unset;
            padding: 0px;
        }
    }

    .card
    {
        display: flex;
        justify-content: space-between;
        text-align: left;

        &__content
        {
            margin-right: 20px;
            
            &>:nth-child(n) 
            {
                margin: 10px 0;
                display: flex;
            }

            &__name
            {
                color: $secondary-color-darkest;
                font-size: 3rem;
                margin: 0 !important;

                @media (max-width:$breakpoint-light) 
                {
                    font-size: 2rem;
                }
            }

            &__location
            {
                font-size: 18px;
            }

            &__description
            {
                color: $tertio-color;
                font-size: 14px;
            }  
        }

        &__contact
        {
            flex: 1;
            
            @media (max-width:$breakpoint-light) 
            {
                position: fixed;
                bottom: 20px;
                left: 0;
                right: 0;
                text-align: center;

                z-index: 1000;
            }
        }

        &__icon
        {
            width: 200px;
            height: 200px;

            border-radius: 100%;
            overflow: hidden;

            img
            {
                object-fit: cover;
                width: 100% !important;
                height: 100% !important; 
                margin: 0 !important;
            }

            @media (max-width:$breakpoint-light) 
            {
                width: 150px;
                height: 150px;
            }
            @media (max-width:$breakpoint-only-mobile) 
            {
                width: 100px;
                height: 100px;
            }
        }
    }
}



@keyframes show_card {
    from
    {
        opacity: 0;
        transform: scale(0);
        position: absolute;
    }

    99%
    {
        opacity: 0;
        transform: scale(0);
        position: absolute;
    }

    to
    {
        opacity: 1;
        transform: scale(1);
        position: relative;
    }
}


@keyframes hide_card {
    from
    {
        opacity: 1;
        transform: scale(1);
    }

    99%
    {
        opacity: 1;
        transform: scale(1);
        position: relative;
    }

    to
    {
        opacity: 0;
        transform: scale(0);
        position: absolute;
    }
}