@import "./constant.scss";

.photographers
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 50px;

    &__card
    {
        flex: 1 1 30%; /*grow | shrink | basis */
        text-align: center;
    }
}

.card
{
    &__icon
    {
        width: 200px;
        height: 200px;

        border-radius: 100%;
        overflow: hidden;

        margin: 0 auto 20px auto;

        img
        {
            object-fit: cover;
            width: 100% !important;
            height: 100% !important; 
            margin: 0 !important;
        }
    }

    &__name
    {
        color: $secondary-color;
    }

    &__content
    {
        &__location
        {
            font-size: 14px;
            color: $primary-color;
        }

        &__description
        {
            font-size: 12px;
        }

        &__price
        {
            font-size: 12px;
            color: $tertio-color;
        }
    }

    &__categories
    {
        margin-top: 10px;
    }
}