@import "./constant.scss";

.photographers
{
    display: flex;
    flex-wrap: wrap;

    gap: 40px;

    &__card
    {
        width: 30%;
        min-width: 250px;
        margin: auto;
        text-align: center;
    }
}

.card
{
    &__icon
    {
        width: 200px;
        height: 200px;

        border-radius: 100%;
        overflow: hidden;

        margin: 0 auto 20px auto;

        img
        {
            object-fit: cover;
            width: 100% !important;
            height: 100% !important; 
            margin: 0 !important;
        }
    }

    &__name
    {
        color: $secondary-color;
    }

    &__content
    {
        &__location
        {
            font-size: 14px;
            color: $primary-color;
        }

        &__description
        {
            font-size: 12px;
        }

        &__price
        {
            font-size: 12px;
            color: $tertio-color;
        }
    }

    &__categories
    {
        margin-top: 10px;
    }

    &.show
    {
        animation-name: show_card;
        animation-duration: 0;
        animation-timing-function: ease-in;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    &.hidden
    {
        animation-name: hide_card;
        animation-duration: 0s;
        animation-timing-function: ease-in;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}

@keyframes show_card {
    from
    {
        opacity: 0;
        transform: scale(0);
        position: absolute;
    }

    99%
    {
        opacity: 0;
        transform: scale(0);
        position: absolute;
    }

    to
    {
        opacity: 1;
        transform: scale(1);
        position: relative;
    }
}


@keyframes hide_card {
    from
    {
        opacity: 1;
        transform: scale(1);
    }

    99%
    {
        opacity: 1;
        transform: scale(1);
        position: relative;
    }

    to
    {
        opacity: 0;
        transform: scale(0);
        position: absolute;
    }
}