@import "./constant.scss";

.product
{
    &__filter
    {
        margin: 20px 0 50px 0;
        display: flex;
        gap: 20px;
        font-weight: bold;

        select
        {
            background-color: $primary-color;
            color: white;
            padding: 10px;
            border-radius: 5px;
            border: none;
            appearance: none;
            outline: 0;
            border: 0 !important;
            background-image: none;
            box-shadow: none;
        }
    }

    &__content
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        gap: 50px 100px;

        &__item
        {
            width: 25%;
            min-width: calc(100%/3 - 100px);
            height: 300px;
            overflow: hidden;

            img, video
            {
                object-fit: cover;
                width: 100% !important;
                height: 100% !important; 
                margin: 0 !important;
                object-position: 50% 25%;
            }
        }
    }
}