@import "./constant.scss";

$gap-image : 50px;

.product
{
    &__filter
    {
        margin: 20px 0 50px 0;
        display: flex;
        gap: 20px;
        font-weight: bold;

        select
        {
            background-color: $primary-color;
            color: white;
            padding: 10px;
            border-radius: 5px;
            border: none;
            appearance: none;
            outline: 0;
            border: 0 !important;
            background-image: none;
            box-shadow: none;
        }
    }

    &__content
    {
        display: flex;
        flex-wrap: wrap;

        gap: 50px $gap-image;

        &__item
        {
            flex-basis: calc(100%/3 - (#{$gap-image} * 2)/3);
            display: flex;
            flex-flow: column;
            gap: 10px;

            &__image
            {
                width: 100%;
                height: calc((100vw - 80px * 4 ) / 3);
                overflow: hidden;
                border-radius: 5px;
                cursor: pointer;
    
                img, video
                {
                    object-fit: cover;
                    width: 100% !important;
                    height: 100% !important; 
                    margin: 0 !important;
                    object-position: 50% 25%;
                }
            }   

            &__description
            {
                display: flex;
                justify-content: space-between;
                line-height: 30px;

                &__title
                {
                    h2
                    {
                        color: $primary-color;
                        font-weight: normal;
                    }   
                }

                &__likes
                {
                    cursor: pointer;
                    align-items: baseline;
                    display: flex;
                    gap: 10px;

                    .icon, .like
                    {
                        color: $primary-color;
                    }
                }   
            } 
        }
    }
}