@import "./constant.scss";

header
{
    display: flex;
    align-items: center;

    margin: 20px 0 50px 0 !important;
    gap: 0 20px;

    color: $primary-color;

    .logo
    {
        flex: 1;

        img
        {
            height: 60px;
        }
    }

    h1
    {
        text-align: right;
        flex: 1;
    }

    @media (max-width:$breakpoint-light) 
    {
        display: grid;
        grid-template: 'd1 d2' 'd3 d3';


        .logo
        {
            grid-area: d1;
            width: 200px;
        }

        h1
        {
            grid-area: d2;
            font-size: 16px;
        }

        .navigation
        {
            grid-area: d3;
        }
    }

    .reset_Cards
    {
        position: fixed;
        top: 5px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 1000;

        &.hidden
        {
            opacity: 0;
        }

        button
        {
            padding: 5px 10px;
            background: $secondary-color;
            border-radius: 5px;
            border-width: 0px;
            font-weight: 500;
            font-size: 12px;
            color: black;
            cursor: pointer;
        }       
    }
}