@import "./constant.scss";

$max-height-filter: 50px;


.listbox
{
  &__btn
  {
    font-size: 16px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    border-radius: 5px;
    color: white;
  }

  &__list
  {
    background-color: $primary-color;
    position: absolute;
    z-index: 1000;
    border-radius: 5px;
    width: 140px;
    top: 0;
    overflow: hidden;
  }

  &__elt
  {
    position: relative;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover, &:active, &:focus
    {
      background-color: $secondary-color;
    }

    &:not(:first-child)::before
    {
      content:"";
      position: absolute;
      width: 90%;
      border-top: 1px solid white;
      margin-left: auto;
      margin-right: auto;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
    }
  }


  position: relative;

  background-color: $primary-color;
  border-radius: 5px;
  color: white;

  width: 140px;

  cursor: pointer;
}