@import "./constant.scss";

$max-height-filter: 50px;

.filter_listbox
{
  position: relative;

  .listbox
  {
    background-color: $primary-color;
    border-radius: 5px;
    color: white;

    position: absolute;

    width: 140px;

    cursor: pointer;

    overflow: hidden;

    &.not_expended
    {
      height: $max-height-filter;
      overflow: hidden;

      .down
      {
        display: none;
      }
    }   

    &:not(.not_expended)
    {
      &::after
      {
        content:#{ $self }
      }
      .up
      {
        display: none;
      }
    }

    &__item
    {
      height: $max-height-filter;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      padding: 0 10px;

      &:hover, &:active, &:focus
      {
        background-color: $secondary-color;
      }

      &.selected
      {
        gap: 20px;
      }

      &:not(:first-child)::before
      {
        content:"";
        position: absolute;
        width: 90%;
        border-top: 1px solid white;
        margin-left: auto;
        margin-right: auto;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
      }
    }
  }
}